body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("images/Homepage.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.cart-section {
    padding: 40px;
    text-align: center;
}

.cart-item {
    background: #f4f4f4;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.cart-item button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.whatsapp-btn {
    background: #25D366;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.whatsapp-btn:hover {
    background: #1ebc59;
}
.cart-section input,
.cart-section textarea {
    width: 300px;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.cart-section textarea {
    height: 80px;
}

hr {
    margin: 30px 0;
}

