body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    padding: 50px;
    background: red;
    color: white;
}

.btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
